@import './variable.styl';
@import './reset.styl';
@import './mixin.styl';
@import './common.styl';

// cube
.cube-btn
  background-color $color-theme

// table
.v-table-class{
  font-size 12px
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif
}

.public-btn
  padding 5px 10px
  border-radius 2px
  background-color $color-theme
  color #fff