border()
  border 1px solid $color-border

fixed-all()
  position absolute
  left 0
  top 0
  right 0
  bottom 0
ellipsis()
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

bg($url)
  background url($url + ".png") center center no-repeat
  background-size 100% 100%