// 颜色定义规范
$color-background = #272f4b
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #333
$color-dialog-background = #666
$color-theme = #ffcd32
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-text = #7e89a9
$color-text-little = #646a8a
$color-text-desc = #a3afd1
$color-text-money = #fff600
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)
$color-btn-bg = #3d4667
$color-border = #394465
//字体定义规范
$font-size-mini = 9px
$font-size-small-s = 11px
$font-size-small = 12px
$font-size-medium = 13px
$font-size-medium-x = 14px
$font-size-large = 16px
$font-size-large-x = 18px
$font-size-v = 20px
$font-size-v-v = 24px
